<a href="https://colab.research.google.com/github/Aatiqa-bano/Internship-Projects/blob/main/Car_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_absolute_error, mean_squared_error
import numpy as np

# Load the dataset (assuming it's a CSV file)
df = pd.read_csv('CAR DETAILS FROM CAR DEKHO.csv')

In [63]:
# Preprocess the categorical data
le = LabelEncoder()
df['name'] = le.fit_transform(df['name'])
df['fuel'] = le.fit_transform(df['fuel'])
df['seller_type'] = le.fit_transform(df['seller_type'])
df['transmission'] = le.fit_transform(df['transmission'])
df['owner'] = le.fit_transform(df['owner'])

In [64]:
# Get an overview of the dataset
print(df.head())

   name  year  selling_price  km_driven  fuel  seller_type  transmission  \
0   775  2007          60000      70000     4            1             1
1  1041  2007         135000      50000     4            1             1
2   505  2012         600000     100000     1            1             1
3   118  2017         250000      46000     4            1             1
4   279  2014         450000     141000     1            1             1

   owner
0      0
1      0
2      0
3      0
4      2

In [65]:
print(df.info())  # Show column data types and summary statistics

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3780 entries, 0 to 3779
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           3780 non-null   int64
 1   year           3780 non-null   int64
 2   selling_price  3780 non-null   int64
 3   km_driven      3780 non-null   int64
 4   fuel           3780 non-null   int64
 5   seller_type    3780 non-null   int64
 6   transmission   3780 non-null   int64
 7   owner          3780 non-null   int64
dtypes: int64(8)
memory usage: 236.4 KB
None

In [66]:
print(df.describe())  # Show summary statistics for numerical columns

              name         year  selling_price      km_driven         fuel  \
count  3780.000000  3780.000000   3.780000e+03    3780.000000  3780.000000
mean    755.343915  2012.993915   4.808879e+05   68383.251058     2.447619
std     397.707845     4.251204   5.333192e+05   47068.274593     1.508433
min       0.000000  1992.000000   2.000000e+04       1.000000     0.000000
25%     432.000000  2010.000000   2.000000e+05   35000.000000     1.000000
50%     793.000000  2014.000000   3.500000e+05   60000.000000     1.000000
75%    1048.000000  2016.000000   6.000000e+05   90000.000000     4.000000
max    1490.000000  2020.000000   8.900000e+06  806599.000000     4.000000

       seller_type  transmission        owner
count  3780.000000   3780.000000  3780.000000
mean      0.809259      0.910053     0.890212
std       0.416476      0.286144     1.268988
min       0.000000      0.000000     0.000000
25%       1.000000      1.000000     0.000000
50%       1.000000      1.000000     0.000000
75%       1.000000      1.000000     2.000000
max       2.000000      1.000000     4.000000

#Feature Engineering:

Age of the car

In [67]:
df['age'] = 2023 - df['year']  # Assuming the current year is 2023

In [68]:
def predict_age(manufacturing_year, current_year=2023):
    return current_year - manufacturing_year
# Example usage:
manufacturing_year = 2015
age = predict_age(manufacturing_year)
print(f"The age of the car manufactured in {manufacturing_year} is {age} years.")

The age of the car manufactured in 2015 is 8 years.

Fuel efficiency

In [69]:
df['fuel_efficiency'] = df['km_driven'] / df['fuel'].map({'Petrol': 1, 'Diesel': 0.8, 'CNG': 0.6})

In [70]:
def calculate_fuel_efficiency_for_car(km_driven, fuel_type):
    efficiency_mapping = {'Petrol': 1, 'Diesel': 0.8, 'CNG': 0.6}
    return km_driven / efficiency_mapping.get(fuel_type, 1)

km_driven = 70000
fuel_type = 'Petrol'
fuel_efficiency = calculate_fuel_efficiency_for_car(km_driven, fuel_type)
print(f'Fuel Efficiency: {fuel_efficiency}')

Fuel Efficiency: 70000.0

Seller type encoding

In [71]:
le = LabelEncoder()
df['seller_type_encoded'] = le.fit_transform(df['seller_type'])

In [72]:
from sklearn.preprocessing import LabelEncoder

# Sample data for encoding
df = pd.DataFrame({'seller_type': ['Individual', 'Dealer']})

# Create and fit the LabelEncoder for seller_type
le_seller_type = LabelEncoder()
le_seller_type.fit(df['seller_type'])

def encode_seller_type_for_car(seller_type):
    return le_seller_type.transform([seller_type])[0]

# Example usage
seller_type = 'Individual'
encoded_seller_type = encode_seller_type_for_car(seller_type)
print(f'Encoded Seller Type: {encoded_seller_type}')

Encoded Seller Type: 1

Price Prediction

In [77]:

# Verify if 'selling_price' column exists
if 'selling_price' in df.columns:
    # Function to categorize price into categories
    def categorize_price(price):
        if price < 200000:
            return 'Low'
        elif price < 500000:
            return 'Medium'
        else:
            return 'High'

    # Apply categorization function to create 'price_category' feature
    df['price_category'] = df['selling_price'].apply(categorize_price)

    # Get an overview of the dataset
    print(df.head())
else:
    print("Column 'selling_price' not found in DataFrame.")

                       name  year  selling_price  km_driven    fuel  \
0             Maruti 800 AC  2007          60000      70000  Petrol
1  Maruti Wagon R LXI Minor  2007         135000      50000  Petrol
2      Hyundai Verna 1.6 SX  2012         600000     100000  Diesel
3    Datsun RediGO T Option  2017         250000      46000  Petrol
4     Honda Amaze VX i-DTEC  2014         450000     141000  Diesel

  seller_type transmission         owner price_category
0  Individual       Manual   First Owner            Low
1  Individual       Manual   First Owner            Low
2  Individual       Manual   First Owner           High
3  Individual       Manual   First Owner         Medium
4  Individual       Manual  Second Owner         Medium

In [78]:
if 'selling_price' in df.columns:
    print(df['selling_price'].head())
else:
    print("Column 'selling_price' not found in DataFrame.")

0     60000
1    135000
2    600000
3    250000
4    450000
Name: selling_price, dtype: int64

#Model Selection and Training:

In [ ]:
# Split the dataset into training and testing sets
X = df.drop(['selling_price'], axis=1)
y = df['selling_price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and train a Linear Regression model
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)

# Make predictions on the testing set
y_pred = lr_model.predict(X_test)

In [ ]:
# Make predictions on the testing set
y_pred = lr_model.predict(X_test)

# Calculate MAE and RMSE
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

print(f'MAE: {mae:.2f}')
print(f'RMSE: {rmse:.2f}')

MAE: 223402.05
RMSE: 433787.91